.custom-text-width-product-swiper.custom-image-with-text {
  position: relative;
  overflow: hidden;
}
.custom-text-width-product-swiper.custom-image-with-text::after {
  content: "";
  display: block;
  clear: both;
  width: 500px;
  height: 280px;
  background: url(https://cdn.shopify.com/s/files/1/0918/3667/8454/files/cata-kor-floating-star.png?v=1741139965)
    no-repeat;
  background-size: cover;
  position: absolute;
  top: -60px;
  right: -210px;
}
.custom-text-width-product-swiper.custom-image-with-text
  .image-with-text__grid {
  align-items: start;
  gap: 9rem;
}
.custom-text-width-product-swiper .product_container {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  /* padding-right: 1.1rem; */
}
.custom-text-width-product-swiper .image-with-text__heading p {
  margin: 0;
}
.custom-text-width-product-swiper .product_container .product_image_container {
  align-self: stretch;
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: 12px;
  border-radius: 2rem;
  max-width: 100%;
  width: 100%;
  justify-content: center;
}

.custom-text-width-product-swiper .product_container .product_image {
  /* padding-inline: 3.6rem; */
  display: flex;
  justify-content: center;
}

.custom-text-width-product-swiper .text-with-product-container2 .swiper-slide {
  background-color: #f3efe6;
  border-radius: 2rem;
}

.custom-text-width-product-swiper
  .product_container
  .Product_description
  p::before {
  content: "";
  display: inline-block;
  width: 3.3rem;
  height: 0.2rem;
  background-color: #1b352a;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  position: relative;
  top: 15px;
}

.custom-text-width-product-swiper .product_container .Product_description p {
  display: flex;
  /* align-items: center; */
  font-size: 1.4rem;
  letter-spacing: 0;
}

.custom-text-width-product-swiper
  .product_container
  .Product_description
  > p:first-of-type {
  margin-top: 2.7rem;
}

.custom-text-width-product-swiper .product_container .Product_description > p {
  margin-bottom: 2.7rem;
}

.custom-text-width-product-swiper .product_container .Product_description h3 {
  font-family: "Onest", sans-serif;
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 1.315;
}

.custom-text-width-product-swiper .grid {
  align-items: center;
  flex-wrap: nowrap;
  gap: 9rem;
}

.Product_description {
  font-family: "Onest", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.71;
}

.p_description {
  padding-block: 4.5rem;
  padding-inline: 2.5rem;
}

.custom-text-width-product-swiper .buy_now_button a {
  font-family: Nohemi-Medium, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1;
  border: 1px solid #1b352a40;
  background-color: #e4f69d;
  color: #000;
  border-radius: 23.2rem;
  padding: 1.6rem 3rem;
  text-align: center;
  text-decoration: none;
}
.custom-text-width-product-swiper .buy_now_button a:hover{
  background-color: #fff;
  color: #375b2b;
  border: 2px solid #375b2b;
}

.custom-text-width-product-swiper .text-with-product-container {
  margin-top: 2rem;
}

.custom-text-width-product-swiper .text-with-product-container .swiper-wrapper {
  border: 0.3rem solid #e6f69d45;
  border-radius: 55.5rem;
  width: 92%;
  align-items: anchor-center;
}

.custom-text-width-product-swiper .text-with-product-container .swiper-wrapper {
  padding-block: 1.4rem;
  padding-inline: 1.7rem;
  border-radius: 55.5rem;
}

.custom-text-width-product-swiper
  .text-with-product-container
  .product_title-btn
  button {
  color: #999999;
  font-family: "Nohemi-Medium", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.75;
  background-color: transparent;
  border: 0;
  padding-block: 1rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.custom-text-width-product-swiper
  .text-with-product-container
  .swiper-slide-thumb-active
  button {
  border: 1px solid #1b352a40;
  background-color: #e4f69d;
  color: #000;
  border-radius: 23.2rem;
}

.custom-text-width-product-swiper
  .text-with-product-container2
  .product_image
  img {
  height: auto;
  /* max-width: 19.4rem; */
  width: 94%;
  /* max-width: 19.4rem;
  max-height: 19.4rem; */
}

.custom-text-width-product-swiper .btn-slide {
  flex: 1 1 50%;
}
.custom-image-with-text .image-with-text__heading {
  width: 100%;
  max-width: 100% !important;
}
@media screen and (max-width: 1024px) {
  .custom-text-width-product-swiper .grid {
    gap: 3rem;
  }

  .custom-text-width-product-swiper .product_container {
    flex-direction: column;
  }

  .custom-text-width-product-swiper
    .product_container
    .product_image_container {
    width: unset;
    height: 30rem;
  }

  .p_description {
    padding-block: 2rem;
  }

  .custom-text-width-product-swiper
    .text-with-product-container2
    .product_image
    img {
    /* height: unset; */
    height: revert-layer;
  }
}

@media screen and (max-width: 750px) {
  .custom-text-width-product-swiper .grid {
    flex-wrap: wrap;
    gap: 0;
  }

  .custom-text-width-product-swiper
    .text-with-product-container
    .product_title-btn
    button {
    line-height: 1;
  }

  .custom-text-width-product-swiper.custom-image-with-text
    .image-with-text__grid {
    flex-direction: column-reverse;
    gap: 0;
  }
}

@media screen and (max-width: 480px) {
  .custom-text-width-product-swiper .grid {
    flex-wrap: wrap;
    gap: 0;
  }

  .product_container {
    flex-direction: column;
    padding-block: 0;
  }

  .custom-text-width-product-swiper
    .text-with-product-container
    .swiper-wrapper {
    padding: 3px 9px;
  }
  .custom-text-width-product-swiper
    .text-with-product-container
    .product_title-btn
    button {
    font-size: 1rem;
  }
}

@media screen and (min-width: 990px) {
  .custom-text-width-product-swiper.custom-image-with-text
    .image-with-text__content {
    padding: 0;
    max-width: 100%;
    margin-left: auto;
  }
}
