.custom-image-with-text .image-with-text__grid{
  gap: 2rem;
}
.custom-image-with-text .image-with-text__text {
  font-family: 'Onest', sans-serif;
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: 0;
  color: #000000;
}

.custom-image-with-text .card__information {
  text-align: left;
}

.custom-image-with-text .sub_heding {
  display: flex;
  align-items: center;
  font-family: 'Nohemi-Regular', sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  letter-spacing: 0;
  margin: 0;

}

.custom-image-with-text .sub_heding:before {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: .1rem;
  background-color: #1b352a;
  margin-right: 1rem;
}

.custom-image-with-text .image-with-text__heading {
  margin-top: 1.2rem;
  line-height: 1.23;
  font-family: 'Nohemi-Medium', sans-serif;
  letter-spacing: 0;
}

@media screen and (min-width: 990px) {
  .custom-image-with-text .image-with-text__heading {
    max-width: 48rem;
  }
}

.custom-image-with-text .card {
  box-shadow: none;
}

.custom-image-with-text .image-with-text .grid__item {
  position: relative;
  align-items: center;
  display: flex;
}


@media screen and (min-width: 990px) {
  .custom-image-with-text .image-with-text__content {
    padding: 6rem 0 7rem 0;
    max-width: 49rem;
    margin-left: 0;
  }
}

.custom-image-with-text .banner__box-product--wrapper .banner__box-product {
  max-width: 50%;
  flex: 1;
}

.custom-image-with-text .card--media .card__content {
  padding: 1rem;
}

.custom-image-with-text .banner__box-product {
  padding: 1.2rem;
  background: white;
  border-radius: 1.6rem;
}

.custom-image-with-text .card--media .card__content {
  padding-inline: 0;
}

.custom-image-with-text .banner__box-product--wrapper {
  gap: 4rem;
}

.custom-image-with-text .image-with-text__content {
  padding-inline: 0;
}

/* @media screen and (min-width: 990px) {
  .custom-image-with-text .image-with-text__grid--reverse {
   flex-direction: column-reverse;
  }
} */

.custom-image-with-text .image-with-text__grid--reverse_mobile {
  flex-wrap: wrap-reverse;
}


@media screen and (max-width: 749px) {
  .custom-image-with-text .banner__box-product--wrapper .banner__box-product {
    max-width: 100%;
  }
}

.custom-image-with-text .banner__box-product--wrapper {
  display: flex;
  gap: 2.5rem;
}

@media screen and (max-width: 480px) {
  .custom-image-with-text .banner__box-product--wrapper {
    display: flex;
    gap: 2.5rem;
  }
}