.dynamic-benefits-showcase--wrapper .disclaimer_text {
    font-family: 'Teachers' ,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 0;
    text-align: center;
    margin-top: 6rem;
    max-width: 72.4rem;
    width: 100%;
    margin-inline: auto;
}

.dynamic-benefits-showcase--wrapper .disclaimer_text p {
    margin: 0;

}
.dynamic-benefits-showcase-container {
    display: flex;
    gap: 6.7rem;
}

@media screen and (max-width:989px) {
    .dynamic-benefits-showcase-container {
        flex-direction: column-reverse;
        gap: 6rem;
    }
}

.dynamic-benefits-showcase-left-side-container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
}

.dynamic-benefits-showcase-left-side-item {
    display: flex;
    column-gap: 2.4rem;
}

.dynamic-benefits-showcase-left-side-item.active {
    background-color: #E4F69D;
}

.dynamic-benefits-showcase-right-side-item {
    flex-direction: column;
    display: none;
}

.dynamic-benefits-showcase-right-side-item-subheading,
.dynamic-benefits-showcase-right-side-item-text {
    font-family: 'Teachers',sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    letter-spacing: 0;
    color: #000000;
}

.dynamic-benefits-showcase-right-side-item-text {
    opacity: .8;
}

.dynamic-benefits-showcase-right-side-item-subheading {
    display: flex;
    align-items: center;
    color: #375B2B;
}

.dynamic-benefits-showcase-right-side-item-subheading::before {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: .1rem;
    background-color: #1B352A;
    margin-right: 1rem;
}

.dynamic-benefits-showcase-right-side-item-text {
    margin-top: 2rem;
}

.dynamic-benefits-showcase-right-side-item-text p{
    margin: 0;
}

.dynamic-benefits-showcase-right-side-item-button {
    margin-top: 3rem;
    display: inline-flex;
    line-height: 1;
    font-family: 'Teachers',sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.275;
    letter-spacing: 0;
}


.dynamic-benefits-showcase-right-side-item-heading{
    margin: 0;
    margin-top: 1.2rem;
    /* font-family: 'Teachers',sans-serif; */
    font-weight: 600;
    font-size: 5.5rem;
    line-height: 1.18;
    letter-spacing: -0.165px;
}

.dynamic-benefits-showcase-right-side-container {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.dynamic-benefits-showcase-left-side-item .dynamic-benefits-showcase-left-side-item--image {
    padding: 1rem 0 1rem 1rem;
    min-width: 12.1rem;
    max-width: 11.1rem; 
    width: 100%;
}
.dynamic-benefits-showcase-left-side-item .dynamic-benefits-showcase-left-side-item--image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    aspect-ratio: 1/1;
    object-position: 40%;
}

@media screen and (max-width:989px) {
    .dynamic-benefits-showcase-right-side-item-heading {
        font-size: 4.5rem;
        line-height: 1.11;
        letter-spacing: -0.135px;
    }
    .dynamic-benefits-showcase-right-side-item-text {
        font-size: 1.8rem;
        line-height: 1.55;

    }
    .dynamic-benefits-showcase-left-side-item .dynamic-benefits-showcase-left-side-item--image img {
        aspect-ratio: 1 / 1.53;
    }
}

.dynamic-benefits-showcase-left-side-item--content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .6rem;
    padding-right: 2rem;
    padding-block: 1rem;
}

.dynamic-benefits-showcase-left-side-item--content-wrapper h3 {
    margin: 0;
    font-family: 'Teachers',sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.64;
    letter-spacing: 0;
    color: rgba(var(--color-foreground));
}

.dynamic-benefits-showcase-left-side-item--text {
  font-family: 'Teachers',sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.52;
  letter-spacing: 0;
  color: #362525;
  opacity: .8;
}

.dynamic-benefits-showcase-left-side-item--text p{
    margin: 0;
}