.rich-text {
  z-index: 1;
  overflow: hidden;
}

.rich-text .left_side_graphics {
  position: absolute;
  left: 0;
  top: 2.1rem;
}

.rich-text .right_side_graphics {
  position: absolute;
  right: 0;
  top: 2.1rem;
}

.rich-text__wrapper {
  display: flex;
  justify-content: center;
  width: calc(100% - 4rem / var(--font-body-scale));
}

.rich-text:not(.rich-text--full-width) .rich-text__wrapper {
  margin: auto;
  width: calc(100% - 8rem / var(--font-body-scale));
}

.rich-text__blocks {
  width: 100%;
}

.rich-text__blocks .rich-text__heading {
  font-family: 'Nohemi-Regular', sans-serif;
  line-height: 1.2;
  letter-spacing: -0.180px;
}

@media screen and (min-width: 750px) {
  .rich-text__wrapper {
    width: 100%;
  }

  .rich-text__wrapper--left {
    justify-content: flex-start;
  }

  .rich-text__wrapper--right {
    justify-content: flex-end;
  }

  .rich-text__blocks {
    max-width: 50rem;
  }
}

@media screen and (min-width: 990px) {
  .rich-text__blocks {
    /* max-width: 78rem; */
    max-width: 66.8rem;
  }
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  word-break: break-word;
}

.rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}

.rich-text__blocks.rich-text__blocks_full_width{
  max-width: 100%;
  width: 100%;
}

/* about-us page  */

.about-us .rich-text__heading{
  /* font-family: 'Teachers', serif; */
  line-height: 1.23;
  letter-spacing: 0;  
  color: rgb(var(--color-foreground));
  max-width: 114.3rem;
  width: 100%;
  margin-top: 1.2rem;
}
.rich-text__sub-heading{
  font-family: 'Teachers', serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  color: rgba(var(--color-secondary-text));
}
.rich-text__sub-heading::before {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: .1rem;
  background-color: rgba(var(--color-secondary-text));
  margin-right: 1rem;
}
.rich-text__text{
  font-family: 'Onest', serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: 0;
}
.about-us .rich-text__text{
  max-width: 95rem;
  width: 100%;
}
.star-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: -1;
}

/* lifetime warranty page css */
.lifetime-warranty .rich-text__blocks{
  max-width: 85.2rem;
  width: 100%;
}

.lifetime-warranty .rich-text__blocks .rich-text__heading.hxl{
  line-height: 1.23;
} 
.lifetime-warranty .rich-text__blocks .rich-text__heading{
  /* font-family: 'Teachers', serif; */
  letter-spacing: 0;
  font-weight: 600;
}
.lifetime-warranty .rich-text__blocks .rich-text__heading strong{
  color: rgb(var(--color-secondary-text));
}

.lifetime-warranty .rich-text__text{
  font-family: 'Teachers', serif;
  font-weight: 500;
  margin-top: 1.3rem;
  display: inline-flex;
  font-size: 2rem;
  line-height: 1.4;
  justify-content: center;
  margin-inline: 5.8rem;
  width: 100%;
  color: rgb(var(--color-secondary-text));
}

.lifetime-warranty .rich-text__buttons{
  margin-top: 4rem;
}

.lifetime-warranty .rich-text__buttons .button--primary{
  font-family: 'Teachers', serif;
  font-weight: 500;
  font-size: 2.46rem;
  line-height: 1.75;
  letter-spacing: 0;
  padding: 1.2rem 4.6rem;
  border: 1.54px solid rgba(27, 53, 42, .25);
}
.lifetime-warranty .rich-text__buttons .button--primary:hover{
  background: #fff;
  color: #375b2b;
  border: 1.54px solid #375b2b;
}

@media screen and (max-width: 989px) {
  .about-us .rich-text__heading{
    font-size: 5rem;
  }
  .lifetime-warranty .rich-text__blocks .rich-text__heading.hxl{
    font-size: 5.5rem;
  }
  .lifetime-warranty .rich-text__blocks {
    max-width: 100%;
  }
}

@media screen and (max-width: 749px) {
  .about-us .rich-text__heading{
    font-size: 4.5rem;
    margin-top: 2rem;
    letter-spacing: -0.135px;
  }
  .about-us .rich-text__wrapper{
    max-width: 100%;
    width: 100%;
  } 
  .about-us .rich-text__text{
    font-size: 1.8rem;
  }
  .lifetime-warranty .rich-text__wrapper{
    width: 100%;
  }
  .lifetime-warranty .rich-text__blocks .rich-text__heading.hxl {
    /* font-size: 4.5rem; */
    font-size: clamp(2rem, 9vw, 4.4rem);
    line-height: 1.11;
    letter-spacing: -0.30px;
  }
  .lifetime-warranty .rich-text__text {
    margin-top: 1.8rem;
    max-width: 100%;
    font-size: 1.8rem;
    line-height: 1.56;
    margin-inline: 0;
  }
  .lifetime-warranty .rich-text__buttons{
    margin-top: 3.2rem;
  }
  /* .lifetime-warranty .rich-text__buttons .button--primary {
    font-size: 1.8rem;
  } */
  .star-icon{
    right: -30%;
  }
}