.banner {
  display: flex;
  position: relative;
  flex-direction: column;
  z-index: auto;
  isolation: isolate;
}

.banner__box {
  text-align: center;
}

/* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
.banner__box.gradient {
  transform: perspective(0);
}

@media only screen and (max-width: 749px) {
  .banner--content-align-mobile-right .banner__box {
    text-align: right;
  }

  .banner--content-align-mobile-left .banner__box {
    text-align: left;
  }
}

@media only screen and (min-width: 750px) {
  .banner--content-align-right .banner__box {
    text-align: right;
  }

  .banner--content-align-left .banner__box {
    text-align: left;
  }

  .banner--content-align-left.banner--desktop-transparent .banner__box,
  .banner--content-align-right.banner--desktop-transparent .banner__box,
  .banner--medium.banner--desktop-transparent .banner__box {
    max-width: 53rem;
  }
}

.banner__media.animate--zoom-in {
  clip-path: inset(0px);
}

.banner__media.animate--zoom-in > img:not(.zoom):not(.deferred-media__poster-button),
.banner__media.animate--zoom-in > svg:not(.zoom):not(.deferred-media__poster-button) {
  position: fixed;
  height: 100vh;
}

@media screen and (max-width: 749px) {
  .banner--small.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--small.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 28rem;
  }

  .banner--medium.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--medium.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 34rem;
  }

  .banner--large.banner--mobile-bottom:not(.banner--adapt) .banner__media,
  .banner--large.banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) > .banner__media {
    height: 39rem;
  }

  .banner--small:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 28rem;
  }

  .banner--medium:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 34rem;
  }

  .banner--large:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    min-height: 39rem;
  }
}

@media screen and (min-width: 750px) {
  .banner {
    flex-direction: row;
  }

  .banner--small:not(.banner--adapt) {
    min-height: 42rem;
  }

  .banner--medium:not(.banner--adapt) {
    min-height: 56rem;
  }

  .banner--large:not(.banner--adapt) {
    min-height: 72rem;
  }

  .banner__content.banner__content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .banner__content.banner__content--top-center {
    align-items: flex-start;
    justify-content: center;
  }

  .banner__content.banner__content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .banner__content.banner__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }

  .banner__content.banner__content--middle-center {
    align-items: center;
    justify-content: center;
  }

  .banner__content.banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }

  .banner__content.banner__content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner__content.banner__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }

  .banner__content.banner__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 749px) {
  .banner:not(.banner--stacked) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .banner--stacked {
    height: auto;
  }

  .banner--stacked .banner__media {
    flex-direction: column;
  }
}

.banner__media {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.banner__media-half {
  width: 50%;
}

.banner__media-half + .banner__media-half {
  right: 0;
  left: auto;
}

.banner__media-half.animate--fixed:first-child > img,
.banner__media-half.animate--zoom-in:first-child > img {
  width: 50%;
}

.banner__media-half.animate--fixed:nth-child(2) > img,
.banner__media-half.animate--zoom-in:nth-child(2) > img {
  left: 50%;
  width: 50%;
}

@media screen and (max-width: 749px) {
  .banner--stacked .animate--fixed:first-child > img,
  .banner--stacked .animate--zoom-in:first-child > img {
    width: 100%;
  }

  .banner--stacked .banner__media-half.animate--fixed:nth-child(2) > img,
  .banner--stacked .banner__media-half.animate--zoom-in:nth-child(2) > img {
    left: 0;
    width: 100%;
  }

  .banner--stacked .banner__media-half {
    width: 100%;
  }

  .banner--stacked .banner__media-half + .banner__media-half {
    order: 1;
  }
}

@media screen and (min-width: 750px) {
  .banner__media {
    height: 100%;
  }
}

.banner--adapt,
.banner--adapt_image.banner--mobile-bottom .banner__media:not(.placeholder) {
  height: auto;
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom .banner__media,
  .banner--stacked:not(.banner--mobile-bottom) .banner__media {
    position: relative;
  }

  .banner--stacked.banner--adapt .banner__content {
    height: auto;
  }

  .banner:not(.banner--mobile-bottom):not(.email-signup-banner) .banner__box {
    background: transparent;
  }

  .banner:not(.banner--mobile-bottom) .banner__box {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .banner:not(.banner--mobile-bottom) .button--secondary {
    --alpha-button-background: 0;
  }

  .banner--stacked:not(.banner--mobile-bottom):not(.banner--adapt) .banner__content {
    position: absolute;
    height: auto;
  }

  .banner--stacked.banner--adapt:not(.banner--mobile-bottom) .banner__content {
    max-height: 100%;
    overflow: hidden;
    position: absolute;
  }

  .banner--stacked:not(.banner--adapt) .banner__media {
    position: relative;
  }

  .banner::before {
    display: none !important;
  }

  .banner--stacked .banner__media-image-half {
    width: 100%;
  }
}

.banner__content {
  /* padding: 0; */
  display: flex;
  position: relative;
  width: 100%;
  align-items: start;
  justify-content: center;
  z-index: 2;
}

@media screen and (min-width: 750px) {
  .banner__content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    align-items: center;

  }

  .banner__content--top-left {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .banner__content--top-center {
    align-items: flex-start;
    justify-content: center;
  }

  .banner__content--top-right {
    align-items: flex-start;
    justify-content: flex-end;
  }

  .banner__content--middle-left {
    align-items: center;
    justify-content: flex-start;
  }

  .banner__content--middle-center {
    align-items: center;
    justify-content: center;
  }

  .banner__content--middle-right {
    align-items: center;
    justify-content: flex-end;
  }

  .banner__content--bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner__content--bottom-center {
    align-items: flex-end;
    justify-content: center;
  }

  .banner__content--bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom:not(.banner--stacked) .banner__content {
    order: 2;
  }

  .banner:not(.banner--mobile-bottom) .field__input,
  .banner--mobile-bottom:not(.banner--stacked) .banner__box.color-scheme-1 {
    background: transparent;
  }
}

.banner__box {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  height: fit-content;
  align-items: center;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  z-index: 1;
}

/* .banner--mobile-bottom .banner__box {
  padding: 4rem 3.5rem;
} */

@media screen and (min-width: 750px) {
  .banner__box {
    padding: 0;
  }

  .banner--desktop-transparent .banner__box {
    padding: 4rem 0;
    background: transparent;
    max-width: 89rem;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .banner--desktop-transparent .button--secondary {
    --alpha-button-background: 0;
  }

  .banner--desktop-transparent .content-container:after {
    display: none;
  }
}

@media screen and (max-width: 749px) {
  .banner--mobile-bottom::after,
  .banner--mobile-bottom .banner__media::after {
    display: none;
  }
}

.banner::after,
.banner__media::after {
  content: '';
  position: absolute;
  top: 0;
  background: #000000;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.banner__box > * + .banner__text {
  margin-top: 1.5rem;
  /* font-family: 'Teachers', serif; */
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: 0;
}

.banner__box .banner__text {
  max-width: 100%;
  color:  rgba(var(--color-secondary-text));
}

@media screen and (min-width: 750px) {
  .banner__box > * + .banner__text {
    margin-top: 2rem;
  }

  .banner__box .banner__text {
    max-width: 45.3rem;
  }
}

.banner__box > * + * {
  margin-top: 1rem;
}

.banner__box-product--wrapper {
  display: flex;
  gap: 2.9rem;
  margin-top: 3.8rem;
}

.banner__box-product--wrapper .banner__box-product {
  max-width: calc(50% - 2.98rem);
  width: 100%;
}

.banner__box > *:first-child {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .banner--stacked .banner__box {
    width: 100%;
  }
}

@media screen and (min-width: 750px) {
  .banner__box {
    width: auto;
    max-width: 70%;
    min-width: 45rem;
  }
}

@media screen and (min-width: 1400px) {
  .banner__box {
    max-width: 90rem;
  }
}

.banner__heading {
  margin-bottom: 0;
  /* font-family: 'Teachers', sans-serif; */
  font-weight: 600;
  letter-spacing: -0.195px;
  max-width: 46.3rem;
  line-height: 1.230;
}

.banner__box .banner__heading + * {
  margin-top: 2rem;
}

.banner__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 45rem;
  word-break: break-word;
}

@media screen and (max-width: 749px) {
  .banner--content-align-mobile-right .banner__buttons--multiple {
    justify-content: flex-end;
  }

  .banner--content-align-mobile-center .banner__buttons--multiple > * {
    flex-grow: 1;
    min-width: 22rem;
  }
}

@media screen and (min-width: 750px) {
  .banner--content-align-center .banner__buttons--multiple > * {
    flex-grow: 1;
    min-width: 22rem;
  }

  .banner--content-align-right .banner__buttons--multiple {
    justify-content: flex-end;
  }
}

.banner__box > * + .banner__buttons {
  margin-top: 2rem;
}

@media screen and (max-width: 749px) {
  .banner:not(.slideshow) .rte a,
  .banner:not(.slideshow) .inline-richtext a:hover,
  .banner:not(.slideshow) .rte a:hover {
    color: currentColor;
  }
}

@media screen and (min-width: 750px) {
  .banner--desktop-transparent .rte a,
  .banner--desktop-transparent .inline-richtext a:hover,
  .banner--desktop-transparent .rte a:hover {
    color: currentColor;
  }
}


/* banner with logo_with_text text block css */
.banner__box-logo-with-text--wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 6rem;
  max-width: 64.4rem;
  margin-top: 10rem;
}

.banner__box-logo-with-text--wrapper:empty{
  display: none;
}

.banner__box-logo-with-text--wrapper .logo-with-text-wrraper {
  display: flex;
  column-gap: 5rem;
}

@media screen and (max-width: 749px) {
  .banner__box-logo-with-text--wrapper {
    max-width: unset;

  }
}

@media screen and (max-width: 425px) {
  .banner__box-logo-with-text--wrapper .logo-with-text-wrraper {
    flex-direction: column;
  }
}

body.template-product .banner__box-logo-with-text--wrapper .logo-with-text-wrraper .logo img {
  max-width: 6.2rem;
  max-height: 6.2rem;
  object-fit: contain;
  overflow: hidden;
}

.banner__box-logo-with-text--wrapper .logo-with-text-content {
  /* font-family: 'Teachers',sans-serif; */
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1.5;
  letter-spacing: 0;
  color: rgb(var(--color-foreground));
}

body.template-product .banner__box-logo-with-text--wrapper .logo-with-text-content {
  font-size: 24px;
}

.banner__box-logo-with-text--wrapper .logo-with-text-description {
  /* font-family: "Onest", serif; */
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.388;
  letter-spacing: 0;
  opacity: 80%;
  margin-top: 1.8rem;
}

.banner__box-logo-with-text--wrapper .logo-with-text-content p {
  margin: 0;
}

h2.extra-small {
  /* font-family: "Onest", serif; */
  font-size: 2.4rem;
  line-height: 1.099;
  font-weight: 600;
  letter-spacing: 0;
  margin-top: 2.5rem;
  color: rgba(var(--color-secondary-text));
}

.banner__content .content-container {
  background-color: transparent;
}

.banner__content .content-container {
  background-color: unset;
}


@media screen and (max-width: 749px) {
  .banner__content .content-container {
   background-color: var(--gradient-background);
  }
}

/* section wise custom css */
.image-banner__pdp-why .banner--desktop-transparent .banner__box {
  max-width: 117.5rem;
}
.image-banner__pdp-why .banner__heading {
  max-width: unset;
}

@media screen and (max-width: 749px) {
  .image-banner__pdp-why.banner:not(.banner--stacked) {
    flex-direction: column-reverse;
  }
  .image-banner__pdp-why .banner__box-logo-with-text--wrapper .logo-with-text-wrraper {
    flex-direction: row;
    gap: 2.4rem;
  }
  .image-banner__pdp-why .banner__box-logo-with-text--wrapper{
    gap: 2.4rem;
    margin-top: 3rem;
  }
  .image-banner__pdp-why .banner__content,
  .image-banner__pdp-why .banner__content .content-container {
    background-color: #cccccc;
  }
}
@media screen and (max-width: 425px) {
  .image-banner__pdp-why .banner__box-logo-with-text--wrapper .logo-with-text-wrraper {
    flex-direction: row;
    gap: 2.4rem;
  }
}
/* --- */

@media screen and (max-width: 749px) {
  .image-banner__pdp-30-days.banner:not(.banner--stacked) {
    flex-direction: column-reverse;
  }
}

/* ---- image_banner__homepage-nad-journey ---- */
@media screen and (max-width: 749px) {
  /* .image_banner__homepage-nad-journey .banner__heading {
    max-width: 38rem;
    text-align: justify;
  } */
  /* .image_banner__homepage-nad-journey .banner__heading {
    max-width: 38rem;
    text-align: justify;
  } */
  .image_banner__homepage-nad-journey .banner__content::before {
    padding-bottom: 278.40% !important;
  }
  .image_banner__homepage-nad-journey .banner__box .banner__text {
    text-align: start;
    margin-right: 2rem;
  }
  .image_banner__homepage-nad-journey .banner__box-product--wrapper .banner__box-product{
    max-width: 50%;
  }
}

/* --- image_banner__homepage-ingredients ---- */

@media screen and (max-width:749px) {
  .image_banner__homepage-ingredients.banner{
    flex-direction: column-reverse;
    background-color: #cccccc;
  }
  .image_banner__homepage-ingredients .banner__box-logo-with-text--wrapper{
    margin-top: 2.8rem;
    row-gap: 4rem;
  }
  .image_banner__homepage-ingredients .banner__box-logo-with-text--wrapper .logo-with-text-wrraper{
    flex-direction: row;
    gap: 4rem;
  }
  /* .image_banner__homepage-ingredients .banner__content::before,
  .image_banner__homepage-ingredients .banner__media::before {
   padding-bottom: 284.77% !important;
  }
  .image_banner__homepage-ingredients .banner__heading {
    font-size: 4.5rem;
    line-height: 1.11;
    max-width: 40rem;
    text-align: start;
  }
  .image_banner__homepage-ingredients .banner__box-logo-with-text--wrapper {
    margin-top: 2.8rem;
  }
  .image_banner__homepage-ingredients .banner__box-logo-with-text--wrapper .logo-with-text-wrraper {
    column-gap: 4rem;
  }
  .image_banner__homepage-ingredients .banner__box-logo-with-text--wrapper .logo-with-text-wrraper .logo img {
    width: 5rem;
    height: 5rem;
  } */
  .image_banner__homepage-ingredients .banner__box-logo-with-text--wrapper .logo-with-text-content p {
    font-size: 2.2rem;
    line-height: 1.4545;
    text-align: start;
  }
}
/* rebranding page hero section css */

.image_banner_rebranding_page_hero_section .banner__text{
  color: rgb(var(--color-foreground));
}
.image_banner_rebranding_page_hero_section .banner__content{
  padding-top: 17rem;
}
.image_banner_rebranding_page_hero_section.banner--large:not(.banner--adapt) {
  min-height: 100rem;
}

.image_banner_rebranding_page_hero_section .banner__heading,
.image_banner_rebranding_page_hero_section .banner__box .banner__text{
  max-width: unset;
}

@media screen and (max-width: 749px) {
  .image_banner_rebranding_page_hero_section.banner--large:not(.banner--adapt) {
    min-height: unset;
  }
  .image_banner_rebranding_page_hero_section .banner__content{
    padding-top: 0;
  }
  .image_banner_rebranding_page_hero_section .banner__media{
    order: 2;
  }
  .image_banner_rebranding_page_hero_section.banner--mobile-bottom:not(.banner--stacked) .banner__content{
    order: 1;
  }
  .image_banner_rebranding_page_hero_section .banner__heading{
    max-width: 100%;
  }
  .image_banner_rebranding_page_hero_section .banner__box{
    padding-top: 10rem;
    padding-bottom: 0;
  }
  .image_banner_rebranding_page_hero_section .banner__content{
    background-color: #375B2B;
  } 
  .image_banner_rebranding_page_hero_section .banner__heading{
    font-size: 4.5rem;
    line-height: 1.11;
    letter-spacing: -0.135px;
  }
  .image_banner_rebranding_page_hero_section .banner__text{
    font-size: 1.8rem;
    line-height: 1.56;
    letter-spacing: 0;
  }
}