.multicolumn .title {
  margin: 0;
}

.multicolumn.no-heading .title {
  display: none;
}

.multicolumn .title-wrapper-with-link {
  margin-top: 0;
  flex-direction: column;
  align-items: baseline;
  gap: 1.2rem;
  margin-bottom: 4.4rem;
}

.multicolumn .title-wrapper-with-link .sub-title {
  font-family: 'Nohemi-Regular',sans-serif;
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: 0;
  display: flex;
  align-items: center;
  margin: 0;
}

.multicolumn .title-wrapper-with-link .sub-title::before {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: .1rem;
  background-color: #1B352A;
  margin-right: 1rem;
}

.multicolumn .title-wrapper-with-link .title {
  font-family: 'Nohemi-Medium',sans-serif;
  line-height: 1.230;
  letter-spacing: 0;
  max-width: 73.6rem;
}

.multicolumn .title-wrapper-with-link .sub-title {
  font-family: "Onest", serif;
  line-height: 1.75;
  letter-spacing: 0;
  max-width: 73.6rem;
  font-weight: 400;
}

@media screen and (max-width: 749px) {
  .multicolumn .title-wrapper-with-link {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .multicolumn__title {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 989px) {
  .multicolumn .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.multicolumn-card__image-wrapper--third-width {
  width: 33%;
}

.multicolumn-card__image-wrapper--half-width {
  width: 50%;
}

.multicolumn-list__item.center .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),
.multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .multicolumn .button {
    margin-top: 4rem;
  }
}

.multicolumn-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}

.multicolumn-list__item--empty {
  display: none;
}

.multicolumn:not(.background-none) .multicolumn-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.multicolumn.background-primary .multicolumn-card {
  /* background: rgb(var(--color-background))
    linear-gradient(rgba(var(--color-foreground), 0.04), rgba(var(--color-foreground), 0.04)); */
    background-color: #fff;
}

.multicolumn-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.multicolumn-list h3,
.multicolumn-list p {
  margin: 0;
}

/* .multicolumn-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
} */

.multicolumn-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .multicolumn-list {
    margin: 0;
    width: 100%;
  }

  .multicolumn-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .multicolumn-list:not(.slider) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 750px) {
  .multicolumn-list.slider {
    padding: 0;
  }

  .multicolumn-list__item,
  .grid--4-col-desktop .multicolumn-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .multicolumn-list__item {
    margin-top: 4rem;
  }
}

.background-none .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.multicolumn-card__info {
  padding: 2.5rem;
}

.multicolumn-card__info .rte {
  font-family: 'Nohemi-Regular',sans-serif;
  font-size: 1.8rem;
  line-height: 1.777;
  letter-spacing: 0;
  color: #000000;
}

.template-product .multicolumn-card__info .rte h2  {
  font-family: 'Nohemi-Medium',sans-serif !important;
  font-weight: 500;
}

.multicolumn.background-primary .multicolumn-card {
  background-color: transparent;
}

.template-product .multicolumn .multicolumn-card__info .rte {
  margin-top: 2rem;
}

.multicolumn-card__info h4 {
  font-family: 'Onest',sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.275;
  letter-spacing: 0;
  margin: 0;
  margin-top: 1.2rem;
  color: #000000;
}

.background-none .multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .multicolumn-card__info {
  padding-bottom: 0;
}

.background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .multicolumn-card__info {
  padding-left: 0.5rem;
}

.background-none .slider .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-left: 1.5rem;
}

.background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .multicolumn-card__info {
    padding-bottom: 1rem;
  }

  .multicolumn.background-none .slider.slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .multicolumn-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .multicolumn-list .multicolumn-card__info,
  .background-none .multicolumn-list:not(.slider) .center .multicolumn-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.multicolumn-card {
  position: relative;
  box-sizing: border-box;
}

.multicolumn-card > .multicolumn-card__image-wrapper--full-width:not(.multicolumn-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.multicolumn.background-none .multicolumn-card {
  border-radius: 0;
}

.multicolumn-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.multicolumn-card__info .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .multicolumn-list__item--empty {
    display: list-item;
  }
}


.custom_review_block .slider-component-desktop .slider-buttons-wrapper {
  position: absolute;
  bottom: 0;
  right: 5rem;
}
.custom_review_block .multicolumn-card__info {
  padding: 3rem 6.1rem 3rem 3rem;
}
.custom_review_block  .multicolumn .title-wrapper-with-link {
  position: relative;
}
/* .custom_review_block .page-width {
  padding: 0 5rem;
}
.custom_review_block .multicolumn-list.slider {
  padding: 0 0 0 5rem;
} */
.custom_review_block .slider-component-desktop .slider--desktop .slider__slide:first-child {
  margin-left: 0;
}
.custom_review_block .slider-component-desktop .slider-buttons {
  display: none;
}
.custom_review_block .slider-component-desktop .slider-buttons .slider-button {
  width: 5rem;
  height: 5rem;
}
.custom_review_block .slider-component-desktop .slider-buttons .slider-button .svg-wrapper {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 990px) {
  .custom_review_block .slider-component-desktop .slider-buttons {
      display: flex;
  }
  /* .custom_review_block .grid--2-col-desktop .grid__item {
    max-width: calc(34.7% - var(--grid-desktop-horizontal-spacing) / 2);
} */
}


/* swiper css */
.custom_review_block .swiper-button--wrapper {
  position: absolute;
  display: flex;
  height: 5rem;
  gap: 1.2rem;
  bottom: 0;
  right: 5rem;
}

.custom_review_block .swiper-wrapper .swiper-slide {
  height: unset;
}

.custom_review_block .swiper-button--wrapper .swiper-button-prev,
.custom_review_block .swiper-button--wrapper .swiper-button-next {
   margin-top: 0;
   position: relative;
   color: unset;
   top: unset;
   left: unset;
   right: unset;
   width: 5rem;
   height: 5rem;
}
.custom_review_block .swiper-button--wrapper .swiper-button-prev .svg-wrapper,
.custom_review_block .swiper-button--wrapper .swiper-button-next .svg-wrapper{
  width: 5rem;
  height: 5rem;
 }

 .custom_review_block .swiper-pagination {
  position: relative;
  margin-top: 3.4rem;
  top: unset;
  bottom: unset;
 }

 .custom_review_block .swiper-pagination-bullet {
  width: 27px; /* Longer width for the active bullet */
  height: 8px;  /* Keep it a rounded pill shape */
  background-color: rgba(0, 0, 0, 0.2); /* Light greenish-gray color for inactive bullets */
  border-radius: 10px; 
  transition: all 0.3s ease;
}

.custom_review_block .swiper-pagination-bullet-active {
  background-color: #1a3a2d; /* Darker green for active bullet */
  width: 95px; /* Wider than inactive bullets */
  height: 8px;
  border-radius: 10px;
}


.custom_review_block .swiper-button--wrapper  .swiper-button-prev:after, 
.custom_review_block .swiper-button--wrapper .swiper-button-next:after {
  content: "";
}



/* Rating Starts css */

.rating-stars-wrapper {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-top: 2.5rem;
  }

  @media screen and (min-width: 750px) {
    .multicolumn-list.grid {
      column-gap: 2rem;
      row-gap: 2rem;
    }
  }

