.section-text.lifetime-warranty p{
  max-width: 90.07rem;
  width: 100%;
  margin: 0 auto;
  color: rgba(var(--color-foreground),50%);
}
.section-text.lifetime-warranty strong{
  color: rgba(var(--color-foreground));
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Teachers', serif;
} 
.section-text.lifetime-warranty span strong{
  font-family: "Nohemi-Medium", sans-serif;
  color: #1B352A;
} 
.section-text{
  font-family: 'Teachers', serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.79;
  letter-spacing: 0;
  text-align: center;
}
.section-text.lifetime-warranty span strong{
  text-transform: uppercase;
  color: rgba(var(--color-secondary-text));
  font-weight: 400;
  font-family: 'Teachers', serif;
}

@media screen and (max-width:989px) {
  .section-text.lifetime-warranty p{
    max-width: 100%;
  }
}
@media screen and (max-width:749px) {
  .section-text{
    font-size: 2rem;
    line-height: 1.7;
    text-align: start;
  }
}